@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blogs-section-one nav .banner {
  width: 92vw;
  height: 30vh;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 23px 8px #a8a8a8;
          box-shadow: 0px 1px 23px 8px #a8a8a8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blogs-section-one nav .banner img {
  width: 92vw;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.blogs-section-two {
  margin-top: 12px;
}

.blogs-section-two .mainCard {
  width: 92vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs-section-two .mainCard .blogCard {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 450px;
  background-color: white;
  margin: 2vw;
  border-radius: 22px;
  -webkit-box-shadow: 0px 0px 13px 6px #b3b3b3;
          box-shadow: 0px 0px 13px 6px #b3b3b3;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.blogs-section-two .mainCard .blogCard .mainImage {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  width: 20vw;
}

.blogs-section-two .mainCard .blogCard #title {
  font-size: 29px;
  font-weight: bold;
  color: #420404;
  float: left;
  font-family: "Lobster", cursive;
  padding: 1vh;
}

.blogs-section-two .mainCard .blogCard #short {
  margin: 0.5vw;
  text-align: justify;
  font-family: "Balsamiq Sans", cursive;
  font-size: 19px;
  text-overflow: ellipsis;
  max-height: 133px;
  overflow: hidden;
}

.blogs-section-two .mainCard .blogCard #readMore {
  outline: none;
  background-color: #0099ff;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: white;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.blogs-section-two .mainCard .blogCard #readMore:hover {
  background-color: #0084ff;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.blogs-section-two .mainCard .blogCard:hover {
  -webkit-box-shadow: 0px 0px 23px 13px #cecece;
          box-shadow: 0px 0px 23px 13px #cecece;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media (max-width: 500px) {
  .blogs-section-one nav .banner {
    width: 92vw;
    height: 10vh;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 23px 8px #a8a8a8;
            box-shadow: 0px 1px 23px 8px #a8a8a8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .blogs-section-one nav .banner img {
    width: 92vw;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .blogs-section-two {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .blogs-section-two .mainCard {
    width: 92vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogs-section-two .mainCard .blogCard {
    min-width: 92vw;
    max-width: 92vw;
    min-height: 450px;
    background-color: white;
    margin: 0.5vw;
    border-radius: 22px;
    -webkit-box-shadow: 0px 0px 13px 6px #b3b3b3;
            box-shadow: 0px 0px 13px 6px #b3b3b3;
    -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
    transition: -webkit-box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  }
  .blogs-section-two .mainCard .blogCard .mainImage {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 92vw;
  }
  .blogs-section-two .mainCard .blogCard #title {
    font-size: 29px;
    font-weight: bold;
    color: #420404;
    float: left;
    font-family: "Lobster", cursive;
    padding: 1vh;
  }
  .blogs-section-two .mainCard .blogCard #short {
    margin: 0.5vw;
    text-align: justify;
    font-family: "Balsamiq Sans", cursive;
    font-size: 19px;
    text-overflow: ellipsis;
    max-height: 133px;
    overflow: hidden;
  }
  .blogs-section-two .mainCard .blogCard #readMore {
    outline: none;
    background-color: #0099ff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: white;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .blogs-section-two .mainCard .blogCard #readMore:hover {
    background-color: #0084ff;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  .blogs-section-two .mainCard .blogCard:hover {
    -webkit-box-shadow: 0px 0px 23px 13px #cecece;
            box-shadow: 0px 0px 23px 13px #cecece;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  }
}
/*# sourceMappingURL=style.css.map */