body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.heart {
  color: #e25555;
}

html::-webkit-scrollbar {
  width: 0.1px;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.main-page-section-one {
  max-height: 100vh;
  background: none;
  font-family: "Righteous", cursive;
  background-color: #3a5dd7;
}

.main-page-section-one .line label {
  margin: 1vh;
  color: #6db1f1;
  font-size: 9vw;
  -webkit-animation: line 0.3s ease-in;
          animation: line 0.3s ease-in;
}

.main-page-section-one .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-page-section-one .holder .dp img {
  height: calc(100px + 25vw);
  -webkit-transform: translateX(-10vw);
          transform: translateX(-10vw);
  -webkit-animation: loadimg 1s linear;
          animation: loadimg 1s linear;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 50%;
}

.main-page-section-one .holder .menu {
  margin-top: 5vh;
  -webkit-transform: translate(-10vw, 3vh);
          transform: translate(-10vw, 3vh);
  -webkit-animation: menu 1s ease-in-out;
          animation: menu 1s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("/menu-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-page-section-one .holder .menu p {
  padding-top: 2vh;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  font-size: 6vh;
  color: white;
}

.main-page-section-one .holder .menu p a {
  text-decoration: none;
  color: white;
}

.main-page-section-two {
  max-height: 100vh;
  font-family: "Righteous", cursive;
}

.main-page-section-two .headline {
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page-section-two .headline .backTitle {
  color: #3a5dd7;
  margin: 0 auto;
  width: 100vw;
  z-index: -200;
  font-size: 15vh;
  position: absolute;
  -webkit-transform: translateX(-9vw);
          transform: translateX(-9vw);
  opacity: 0.1;
}

.main-page-section-two .headline .frontTitle {
  color: #3a5dd7;
  margin: 0 auto;
  width: 100vw;
  z-index: 200;
  position: absolute;
  font-size: 7vh;
  -webkit-transform: translate(4vw, 12vh);
          transform: translate(4vw, 12vh);
}

.main-page-section-two .aboutCardHolder {
  position: absolute;
  height: 50vh;
  width: 70vw;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 28vh;
  margin-left: 15vw;
  border-radius: 20px;
}

.main-page-section-two .aboutCardHolder .aboutCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.main-page-section-two .aboutCardHolder .aboutCard .mypic img {
  max-height: 50vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main-page-section-two .aboutCardHolder .aboutCard .aboutme {
  border-radius: 20px;
}

.main-page-section-two .aboutCardHolder .aboutCard .aboutme label {
  font-family: "Righteous", cursive;
  padding: 2vw;
  font-size: 3vw;
  color: #3a5dd7;
  position: absolute;
}

.main-page-section-two .aboutCardHolder .aboutCard .aboutme label:nth-child(1) {
  z-index: -3300000;
  font-size: 4vw;
  color: #3a5dd7;
  opacity: 0.1;
  -webkit-transform: translate(-2vw, -4vh);
          transform: translate(-2vw, -4vh);
}

.main-page-section-two .aboutCardHolder .aboutCard .aboutme .paragraph {
  font-family: "Ubuntu", sans-serif;
  font-size: calc(11px + 1vw);
  position: absolute;
  padding-top: 5vw;
  -webkit-transform: translateY(3vh);
          transform: translateY(3vh);
  color: #15afaf;
  text-align: right;
  margin-top: auto;
}

.main-page-section-two .aboutCardHolder .paragraphMobile {
  display: none;
}

.main-page-section-three {
  font-family: "Righteous", cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-page-section-three .headline {
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page-section-three .headline .backTitle {
  color: #3a5dd7;
  margin: 0 auto;
  width: 100vw;
  z-index: -200;
  font-size: 15vh;
  position: absolute;
  -webkit-transform: translateX(-9vw);
          transform: translateX(-9vw);
  opacity: 0.1;
}

.main-page-section-three .headline .frontTitle {
  color: #3a5dd7;
  margin: 0 auto;
  width: 100vw;
  z-index: 200;
  position: absolute;
  font-size: 7vh;
  -webkit-transform: translate(4vw, 12vh);
          transform: translate(4vw, 12vh);
}

.main-page-section-three .gitCardHolder {
  position: absolute;
  height: 50vh;
  width: 100vw;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 18vh;
}

.main-page-section-three .gitCardHolder .gitCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-page-section-three .gitCardHolder .gitCard .projCards {
  min-width: 25vw;
  height: auto;
  border-color: #3a5dd7;
  border-radius: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.main-page-section-three .gitCardHolder .gitCard .projCards div {
  font-family: "Righteous", cursive;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-page-section-three .gitCardHolder .gitCard .projCards div .nameOfTheProject {
  font-size: 1.5vw;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-page-section-three .gitCardHolder .gitCard .projCards div img {
  height: 40px;
  margin: 14px;
}

.main-page-section-three .gitCardHolder .gitCard .projCards div .dipstats {
  height: auto;
}

.main-page-section-three .gitCardHolder .gitCard .projCards div .prjDesc {
  font-family: "Ubuntu", sans-serif;
  margin-left: 1.5vw;
  font-size: 1vw;
}

.main-page-section-three .gitCardHolder .gitCard .projCards div p:nth-child(2) label {
  font-size: 1vw;
}

.main-page-section-three .gitCardHolder .gitCard .projCards:nth-child(4),
.main-page-section-three .gitCardHolder .gitCard .projCards:nth-child(5) {
  display: block;
}

.main-page-section-four {
  max-height: 1vh;
  min-height: 2vh;
}

@media (max-width: 500px) {
  .main-page-section-one .line label {
    margin: 2vw;
    color: #6db1f1;
    font-size: 9vw;
    -webkit-animation: line 0.3s ease-in;
            animation: line 0.3s ease-in;
  }
  .main-page-section-one .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page-section-one .holder .dp img {
    width: 70vw;
    height: auto;
    -webkit-animation: loadimgmob 0.7s linear;
            animation: loadimgmob 0.7s linear;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  .main-page-section-one .holder .menu {
    margin-top: 2vh;
    -webkit-animation: menumob 1s ease-in-out;
            animation: menumob 1s ease-in-out;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-image: url("/menu-ico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  .main-page-section-one .holder .menu p {
    font-size: 8vw;
    color: white;
  }
  .main-page-section-two {
    font-family: "Righteous", cursive;
  }
  .main-page-section-two .headline {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page-section-two .headline .backTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: -200;
    font-size: 20vw;
    position: absolute;
    -webkit-transform: translate(0vh, -4vh);
            transform: translate(0vh, -4vh);
  }
  .main-page-section-two .headline .frontTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: 200;
    position: absolute;
    font-size: 15vw;
    -webkit-transform: translate(11vw, 5vh);
            transform: translate(11vw, 5vh);
  }
  .main-page-section-two .aboutCardHolder {
    position: absolute;
    height: 70vh;
    width: 90vw;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 22vh;
    margin-left: 5vw;
    background-image: url("/about-dp.jpg");
    background-position: center;
  }
  .main-page-section-two .aboutCardHolder .aboutCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .mypic {
    overflow: hidden;
    display: none;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .mypic img {
    height: 100vw;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .aboutme label {
    font-family: "Righteous", cursive;
    padding: 2vw;
    font-size: 3vw;
    color: #3a5dd7;
    position: absolute;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .aboutme label:nth-child(1) {
    z-index: -3300000;
    font-size: 4vw;
    color: #3a5dd7;
    opacity: 0.1;
    -webkit-transform: translate(-2vw, -4vh);
            transform: translate(-2vw, -4vh);
  }
  .main-page-section-two .aboutCardHolder .aboutCard .aboutme .paragraph {
    font-family: "Ubuntu", sans-serif;
    font-size: calc(11px + 1vw);
    position: absolute;
    padding-top: 5vw;
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    color: #15afaf;
    text-align: right;
    margin-top: auto;
    display: none;
  }
  .main-page-section-two .aboutCardHolder .paragraphMobile {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: calc(3.4vh);
    padding: 10vw;
    color: white;
    text-align: justify;
    margin-top: auto;
    background-color: #3a5dd7;
    height: 100%;
    opacity: 0.9;
    border-radius: 20px;
  }
  .main-page-section-three {
    font-family: "Righteous", cursive;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-page-section-three .headline {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page-section-three .headline .backTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: -200;
    font-size: 20vw;
    position: absolute;
    -webkit-transform: translate(0vh, -4vh);
            transform: translate(0vh, -4vh);
  }
  .main-page-section-three .headline .frontTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: 200;
    position: absolute;
    font-size: 15vw;
    -webkit-transform: translate(11vw, 5vh);
            transform: translate(11vw, 5vh);
  }
  .main-page-section-three .gitCardHolder {
    position: absolute;
    height: 50vh;
    width: 100vw;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 18vh;
  }
  .main-page-section-three .gitCardHolder .gitCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards {
    min-width: 60vw;
    height: auto;
    border-color: #3a5dd7;
    border-radius: 10px;
    margin-top: 5vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div {
    font-family: "Righteous", cursive;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div .nameOfTheProject {
    font-size: 5vw;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div img {
    height: 30px;
    margin: 10px;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div .prjDesc {
    font-family: "Ubuntu", sans-serif;
    margin-left: 4vw;
    font-size: 4vw;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div p:nth-child(2) label {
    font-size: 1vh;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div .dipstats {
    width: 90vw;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards:nth-child(4),
  .main-page-section-three .gitCardHolder .gitCard .projCards:nth-child(5),
  .main-page-section-three .gitCardHolder .gitCard .projCards:nth-child(3) {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 500px) {
  .main-page-section-one {
    background: none;
    font-family: "Righteous", cursive;
    background-color: #3a5dd7;
  }
  .main-page-section-one .line label {
    margin: 2vh;
    color: #6db1f1;
    font-size: 9vw;
    -webkit-animation: line 0.3s ease-in;
            animation: line 0.3s ease-in;
  }
  .main-page-section-one .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-page-section-one .holder .dp img {
    height: calc(100px + 25vw);
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    -webkit-animation: loadimg 1s linear;
            animation: loadimg 1s linear;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main-page-section-one .holder .menu {
    -webkit-transform: translate(-10vw, 3vh);
            transform: translate(-10vw, 3vh);
    -webkit-animation: menu 1s ease-in-out;
            animation: menu 1s ease-in-out;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-image: url("/menu-ico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .main-page-section-one .holder .menu p {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    font-size: 4vw;
    color: white;
  }
  .main-page-section-two {
    font-family: "Righteous", cursive;
  }
  .main-page-section-two .headline {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page-section-two .headline .backTitle {
    color: #d6ebf7;
    margin: 0 auto;
    width: 100vw;
    z-index: -200;
    font-size: 15vh;
    position: absolute;
    -webkit-transform: translateX(-9vw);
            transform: translateX(-9vw);
  }
  .main-page-section-two .headline .frontTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: 200;
    position: absolute;
    font-size: 7vh;
    -webkit-transform: translate(4vw, 12vh);
            transform: translate(4vw, 12vh);
  }
  .main-page-section-two .aboutCardHolder {
    position: absolute;
    height: 70vh;
    width: 90vw;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 25vh;
    margin-left: 5vw;
    background-image: url("/about-dp.jpg");
    background-position: center;
  }
  .main-page-section-two .aboutCardHolder .aboutCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .mypic {
    overflow: hidden;
    display: none;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .mypic img {
    height: 100vw;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .aboutme label {
    font-family: "Righteous", cursive;
    padding: 2vw;
    font-size: 3vw;
    color: #3a5dd7;
    position: absolute;
  }
  .main-page-section-two .aboutCardHolder .aboutCard .aboutme label:nth-child(1) {
    z-index: -3300000;
    font-size: 4vw;
    color: #3a5dd7;
    opacity: 0.1;
    -webkit-transform: translate(-2vw, -4vh);
            transform: translate(-2vw, -4vh);
  }
  .main-page-section-two .aboutCardHolder .aboutCard .aboutme .paragraph {
    font-family: "Ubuntu", sans-serif;
    font-size: calc(11px + 1vw);
    position: absolute;
    padding-top: 5vw;
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    color: #15afaf;
    text-align: right;
    margin-top: auto;
    display: none;
  }
  .main-page-section-two .aboutCardHolder .paragraphMobile {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: calc(5vh);
    padding: 10vw;
    color: white;
    text-align: justify;
    margin-top: auto;
    background-color: #3a5dd7;
    height: 100%;
    opacity: 0.9;
  }
  .main-page-section-three {
    font-family: "Righteous", cursive;
    height: 100vh;
    overflow: hidden;
  }
  .main-page-section-three .headline {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page-section-three .headline .backTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: -200;
    font-size: 20vh;
    position: absolute;
    -webkit-transform: translate(0vh, -4vh);
            transform: translate(0vh, -4vh);
  }
  .main-page-section-three .headline .frontTitle {
    color: #3a5dd7;
    margin: 0 auto;
    width: 100vw;
    z-index: 200;
    position: absolute;
    font-size: 13vh;
    -webkit-transform: translate(11vw, 5vh);
            transform: translate(11vw, 5vh);
  }
  .main-page-section-three .gitCardHolder {
    position: absolute;
    height: 50vh;
    width: 100vw;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 16vw;
  }
  .main-page-section-three .gitCardHolder .gitCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards {
    min-width: 40vw;
    height: auto;
    border-color: #3a5dd7;
    border-radius: 10px;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div {
    font-family: "Righteous", cursive;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div .nameOfTheProject {
    font-size: 3vw;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div img {
    height: 50px;
    margin: 14px;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div .prjDesc {
    font-family: "Ubuntu", sans-serif;
    margin-left: 4vw;
    font-size: 2.2vw;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards div p:nth-child(2) label {
    font-size: 1vh;
  }
  .main-page-section-three .gitCardHolder .gitCard .projCards:nth-child(3) {
    display: none;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loadimg {
  0% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-2vw);
            transform: translateX(-2vw);
    opacity: 0.9;
  }
  90% {
    -webkit-transform: translateX(-12vw);
            transform: translateX(-12vw);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 1;
  }
}

@keyframes loadimg {
  0% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-2vw);
            transform: translateX(-2vw);
    opacity: 0.9;
  }
  90% {
    -webkit-transform: translateX(-12vw);
            transform: translateX(-12vw);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 1;
  }
}

@-webkit-keyframes loadimgmob {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes loadimgmob {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes line {
  0% {
    -webkit-transform: translateY(-300vw);
            transform: translateY(-300vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes line {
  0% {
    -webkit-transform: translateY(-300vw);
            transform: translateY(-300vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: initial;
            transform: initial;
  }
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translate(-10vw, 100vw);
            transform: translate(-10vw, 100vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-10vw, 3vh);
            transform: translate(-10vw, 3vh);
  }
}

@keyframes menu {
  0% {
    -webkit-transform: translate(-10vw, 100vw);
            transform: translate(-10vw, 100vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-10vw, 3vh);
            transform: translate(-10vw, 3vh);
  }
}

@-webkit-keyframes menumob {
  0% {
    -webkit-transform: translate(0vw, 100vw);
            transform: translate(0vw, 100vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0vw, 3vh);
            transform: translate(0vw, 3vh);
  }
}

@keyframes menumob {
  0% {
    -webkit-transform: translate(0vw, 100vw);
            transform: translate(0vw, 100vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0vw, 3vh);
            transform: translate(0vw, 3vh);
  }
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
/*# sourceMappingURL=homeIndexPage.css.map */