* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section:nth-child(1) {
    nav {
        .banner {
            width: 92vw;
            height: 30vh;
            overflow: hidden;
            img {
                width: 92vw;
                transform: translateY(-20%);
            }
            box-shadow: 0px 1px 3px 8px rgb(216, 214, 214);
            border-bottom-left-radius:20px;
            border-bottom-right-radius:20px;
        }
    }
}